<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }} - {{ siteName }} </title>
    <script src="http://vps722937.ovh.net:80/dwes/resources/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="http://vps722937.ovh.net:80/dwes/resources/jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="http://vps722937.ovh.net:80/dwes/resources/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="http://vps722937.ovh.net:80/dwes/resources/cookies.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Star Rating library -->
    <script src="{% static 'jquery.emojiRatings.min.js' %}"></script>

    <style>
        dl {
            width: 710px;
        }

        dd, dt {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        dt {
            float: left;
            padding-right: 5px;
            font-weight: bolder;
        }

        dt {
            clear: left;
        }

        dt, dd {
            font-size: 17px;
            min-height: 1.5em;
        }

        body {
            color: white;
            background: linear-gradient(
                    rgba(30, 27, 38, 0.95),
                    rgba(30, 27, 38, 0.95)), url("{{movie.poster.url}}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container "
     style="border: 3px solid #0d0631; border-radius: 4px; box-shadow: 0px 1px 62px 26px rgba(0,0,0,0.75); margin-top: 120px">
    <div class="row h-100">
        <div class="col-4 " style="background-color: #0d0631">
            <img class="mt-2" src="{{ movie.poster.url }}" width="352px" height="350px" style="border: 4px solid black; border-radius: 10px">
        </div>
        <div class="col-8" style="background-color: #0d0631">
            <h2 class="mt-3">{{ movie.title }}</h2>
            <dl>
                <dt>Director:</dt>
                <dd>{{ movie.director_id }}</dd>
                <dt>Genre:</dt>
                <dd>{{ movie.genre }}</dd>
                <dt>Plot:</dt>
                <dd>{{ movie.plot }}</dd>
                <dt>Rating:</dt>
                <dd id="movieRate">{{ movie.calculateRating }} Stars</dd>
                <dt>Units available:</dt>
                <dd id="units">{{ movie.units }}</dd>
            </dl>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <h2>Rate this movie:</h2>
                        <div id="rating"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 ml-auto mt-auto pt-4">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '..'" style="background-color: #065796">Go
                back
            </button>
        </div>
        <div class="col-6 ml-auto mt-auto pt-4">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="btnRent" style="background-color: #065796">RENT MOVIE NOW!</button>
        </div>
    </div>
</div>
</div>
<script>
    $('#btnRent').click(function () {
        var myCookie = docCookies.getItem("csrftoken");
        $.ajax({
            type: 'POST',
            headers: {"X-CSRFToken": myCookie},
            url: '{% url "rent_movie" %}',
            data: {"id": '{{movie.id}}'},
        }).done(function (response) {
            if (response.status === 'ok') {
                $('#units').text(response.units);
            } else {
                alert(`Sorry, we don't have more units for this movie`)
            }
        })
    });

    const options = {
        emoji: 'star',
        count: 5,
        fontSize: 30,
        inputName: 'rating',
        onUpdate: function (score) {
            console.log('Vote: ', score);
            $('#rating').replaceWith(`<h3>Thanks for voting!</h3>`)

            $.ajax({
                type: 'GET',
                url: '{% url "rate_movie" id=movie.id %}',
                data: {rating: score}
            }).done(function (response) {
                console.log(response)
                $('#movieRate').text(`${response.newAverage.toFixed(1)} Stars`)
            })
        }
    };

    $('#rating').emojiRating(options);
</script>
</body>
</html>