<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Template for Bootstrap</title>

    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <style>
        .card{
            box-shadow:5px 5px 50px -14px black;
            border-radius: 4px;
            z-index:1 !important;
            color:white;
            background: linear-gradient(rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%);
        }
        h1 {
            font-family: 'Cantarell';
        }

    </style>
</head>

<body>
<div class="conatiner">
    <div class="row">
        <div class="col-12 text-center mb-5 mt-5 ">
             <h1>{{ nombreWeb }}</h1>
        </div>
    </div>
</div>
  <div class="card-list  container">
      <div class="row">
      {% for movie in listaPeliculas %}
          <div class="col-4 mb-5">
          <div class="card h-100" style="width: 18rem;">
            <img class="card-img-top" src="{{ movie.poster.url }}" alt="Card image cap" height="300em">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <h6>Directed by {{ movie.director_id }}</h6>
              <h6>Units available: {{ movie.units }}</h6>
              <a href="{{ movie.id }}" class="btn btn-primary">Rent movie</a>
            </div>
          </div>
          </div>
      {% endfor %}
      </div>
  </div>
</body>
</html>