<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Template for Bootstrap</title>

    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <style>
        .card-list > .card {
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>{{ siteName }}</h1>
  <div class="card-list">
      {% for movie in movieList %}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ movie.poster.url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <h6>Directed by {{ movie.director_id }}</h6>
              <h6>Units available: {{ movie.units }}</h6>
              <a href="{{ movie.id }}" class="btn btn-primary">Rent movie</a>
            </div>
          </div>
      {% endfor %}
  </div>
</body>
</html>